<div class="card card-style w-75">
    <div class="card-header">
        New Tag
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="row">
                <div class="form-group full-width">
                    <label for="title">Name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            aria-describedby="Name"
                            ng-model="tag.tag.name"
                    >
                    <small id="titleHelp" class="form-text text-muted">Enter Name</small>
                </div>
            </div>

            <div class="row float-right">
                <button type="submit" class="btn btn-primary" ng-click="addTag()"> Submit</button>
            </div>
        </form>
    </div>
</div>

