<div class="card card-style w-75">
    <div class="card-header">
        New Todo
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="row">
                <div class="form-group full-width">
                    <label for="title">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            aria-describedby="title"
                            ng-model="todoItem.todo_item.title"
                    >
                    <small id="titleHelp" class="form-text text-muted">Enter Title of todo.</small>
                </div>
            </div>

            <div class="row">
                <div class="form-group full-width">
                    <label for="title">Description</label>
                    <textarea
                            class="form-control"
                            id="description"
                            aria-describedby="description"
                            ng-model="todoItem.todo_item.description"
                    >

                    </textarea>
                    <small id="descriptionHelp" class="form-text text-muted">Enter description of todo.</small>
                </div>
            </div>

            <div class="row">
                <div class="form-group full-width">
                    <label for="title">Status</label>
                    <select class="custom-select" ng-model="todoItem.todo_item.status">
                        <option value="Started">Started</option>
                        <option value="Pending">Pending</option>
                        <option value="Finished">Finished</option>
                    </select>
                    <small id="statusHelp" class="form-text text-muted">Enter status of todo.</small>
                </div>
            </div>

            <div class="row">
                <div class="form-group full-width">
                    <label for="title">Tags</label>
                    <select class="custom-select" ng-options="item as item.name for item in tags track by item.id"
                            ng-model="todoItem.todo_item.tags" multiple></select>
                    <small id="tagsHelp" class="form-text text-muted">Enter Tags of todo.</small>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary" ng-click="addTodo()"> Submit</button>
            </div>
        </form>
    </div>
</div>

